<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
        <ion-menu-button menu="m1"></ion-menu-button>
    </ion-buttons>
    <ion-title>Leader Board</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  
  <ion-card class="card">
    <ion-card-header>
      Leader Board
    </ion-card-header>

    <ion-card-content>

      <!-- <div class="table-responsive" >
        <table id="example" class="table table-hover table-bordered border-top-0 border-bottom-0" style="width:100%">
          <thead>
            <tr class="border-bottom-0">
              <th scope="row">#</th>
              <th scope="row">Team Name</th>
              <th scope="row">Rank</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let appli of teams; index as i">
              <td scope="row">{{ i + 1 }}</td>
              <td scope="row">{{ appli.teamName }}</td>
              <td scope="row">{{ appli.rank }}</td>
            </tr>
          </tbody>
        </table>
      </div> -->

      <ion-grid>
        <ion-row>
          <ion-col>
            Sno
          </ion-col>

          <ion-col>
            Team Name
          </ion-col>

          <ion-col>
             Score
          </ion-col>

          <ion-col>
            Select
          </ion-col>
        </ion-row>

        <ion-row *ngFor="let team of teams; index as i">

          <ion-col>
            {{i+1}}
          </ion-col>

          <ion-col>
              {{team.team_name}}
          </ion-col>

          <ion-col>
            {{team.score}}
          </ion-col>

          <ion-col>
            <!-- <ion-checkbox color="light" (click)="selected(i)"></ion-checkbox> -->
            <ion-checkbox color="dark" checked="false" (ionChange)="datachanged($event,team.id,team)" ></ion-checkbox>
          </ion-col>

        </ion-row>
      </ion-grid>



    </ion-card-content>
  </ion-card>



</ion-content>

