<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
        <ion-menu-button menu="m1"></ion-menu-button>
    </ion-buttons>
    <ion-title>Leader Board</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  
  <ion-card class="card">
    <ion-card-header>
      Leader Board
    </ion-card-header>

    <ion-card-content>

      <!-- <div class="table-responsive" >
        <table id="example" class="table table-hover table-bordered border-top-0 border-bottom-0" style="width:100%">
          <thead>
            <tr class="border-bottom-0">
              <th scope="row">#</th>
              <th scope="row">Team Name</th>
              <th scope="row">Rank</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let appli of teams; index as i">
              <td scope="row">{{ i + 1 }}</td>
              <td scope="row">{{ appli.teamName }}</td>
              <td scope="row">{{ appli.rank }}</td>
            </tr>
          </tbody>
        </table>
      </div> -->

      <div class="table-responsive" >
        <table id="example" class="table table-hover table-bordered border-top-0 border-bottom-0" style="width:100%">
          <thead>
            <tr class="border-bottom-0">
              <th scope="col">#</th>
              <th scope="col" style="text-align: left;">Team Name</th>
              <th scope="col" style="text-align: left;">Score</th>
              <th scope="col" style="text-align: left;">Select</th>
              <!-- <th scope="col">To</th>
              <th scope="col">Status</th>
              <th scope="col">View</th> -->
              <!-- <th scope="col">Action</th> -->
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let team of teams; index as i">
              <th scope="col">{{ i + 1 }}</th>
              <td scope="col">{{team.team_name}}</td>
              <td scope="col">{{team.score}}</td>
              <td scope="col"><ion-checkbox color="dark" checked="false" (ionChange)="datachanged($event,team.id,team)" ></ion-checkbox></td>
              <!-- <td>{{ appli.to}}</td>
              <td>{{ appli.status}}</td>
              <td><ion-icon name="eye-outline" (click)="viewApplication(appli.ref)"></ion-icon></td> -->
            </tr>
          </tbody>
        </table>
      </div>

      <!-- <ion-grid>
        <ion-row>
          <ion-col>
            Sno
          </ion-col>

          <ion-col>
            Team Name
          </ion-col>

          <ion-col>
             Score
          </ion-col>

          <ion-col>
            Select
          </ion-col>
        </ion-row>

        <ion-row *ngFor="let team of teams; index as i">

          <ion-col>
            {{i+1}}
          </ion-col>

          <ion-col>
              {{team.team_name}}
          </ion-col>

          <ion-col>
            {{team.score}}
          </ion-col>

          <ion-col>
          
            <ion-checkbox color="dark" checked="false" (ionChange)="datachanged($event,team.id,team)" ></ion-checkbox>
          </ion-col>

        </ion-row>
      </ion-grid> -->



    </ion-card-content>
  </ion-card>



</ion-content>

