<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
        <ion-menu-button menu="m1"></ion-menu-button>
    </ion-buttons>
    <ion-title>Leader Board</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  
  <ion-card class="card">
    <ion-card-header>
      Leader Board
    </ion-card-header>

    <ion-card-content>

      <ion-card color="secondary">
        <ion-card-content>
          <form [formGroup]="addteam">

                <ion-list>
                  <ion-item>
                    <ion-label>
                      Team Name
                    </ion-label>
                    <ion-input formControlName="team_name">
  
                    </ion-input>
                  </ion-item>
                </ion-list>
                <ion-button color="primary" (click)="addTeam()">
                  Add Team
                </ion-button>
              
            </form>
        </ion-card-content>
      </ion-card>

      <ion-card color="primary">
        <ion-card-header>
          Search
        </ion-card-header>

        <ion-card-content>
          <ion-row>
            <ion-col offset="2" size="8">
              <form [formGroup]="searchForm">
                <div class="row">
                  <!-- <div col="4"> -->
                      <select class="custom-select" id="empDepartment" [(ngModel)]="option" formControlName="searchoption">
                        <option value="0">Team Name</option>
                        <option value="1">Score</option>
                      </select>
                    <!-- </div> -->
        
                    <!-- <div class="col-6"> -->
                      <input type="text" formControlName="searchInput" id="searchid" #searchid class="form-control" [(ngModel)]="searchText" placeholder="Enter ">
                    <!-- </div> -->
        
                  </div>
                </form>
            </ion-col>
          </ion-row>
        </ion-card-content>
      </ion-card>

      <ion-card color="tertiary">
        <ion-card-header>
          Select checkbox to make decision for teams
        </ion-card-header>
      </ion-card>
      



      <div class="table-responsive" >
        <table id="example" class="table table-hover table-bordered border-top-0 border-bottom-0" style="width:100%">
          <thead>
            <tr class="border-bottom-0">


              <!-- "team_name": "Konklux",
    "wins": 0,
    "losses": 0,
    "ties": 0,
    "score": 0
     -->
              <th scope="col">#</th>
              <th style="text-align: left;" [class.active]="order === 'team_name'"
                  (click)="setOrder('team_name')" class="capitalize">{{'Team Name'}}
                  <span [hidden]="reverse">▼</span
                    ><span [hidden]="!reverse">▲</span>
                  </th>
                  <th style="text-align: left;" [class.active]="order === 'score'"
                  (click)="setOrder('score')" class="capitalize">{{'Score'}}
                  <span [hidden]="reverse">▼</span
                    ><span [hidden]="!reverse">▲</span>
                  </th>
              <!-- <th scope="col" style="text-align: left;">Team Name</th>
              <th scope="col" style="text-align: left;">Score</th> -->
              <th scope="col" style="text-align: left;">Select</th>

            </tr>
          </thead>
          <tbody>
            <ng-container *ngIf="Teams$">
            <tr *ngFor="let team of Teams$| async| orderBy: order:reverse; index as i">
              <th scope="col">{{ i + 1 }}</th>
              <td scope="col">{{team.team_name}}</td>
              <td scope="col">{{team.score}}</td>
              <td scope="col"><ion-checkbox color="dark" checked="false" (ionChange)="datachanged($event,team.id,team)" ></ion-checkbox></td>
              
            </tr>
          </ng-container>
          </tbody>
        </table>

        <div class="d-flex justify-content-between p-2">
          <ngb-pagination [collectionSize]="collectionSize" [(page)]="page" [pageSize]="pageSize"
            (pageChange)="refreshpage()" [maxSize]="5" [rotate]="true" [ellipses]="false" [boundaryLinks]="true">
          </ngb-pagination>
       </div>


      </div>


    </ion-card-content>
  </ion-card>



</ion-content>

